*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: auto;
    font-family: 'Karla', sans-serif;
}

/* Header */

#main-header{
    font-size: 30px;
    margin: 10px 0;
    vertical-align: middle;   
}

#img-logo{
    width: 150px;
    height: auto;
    vertical-align: middle;
}

/* Nav */

li{
    display: inline;
    margin: 10px 5px;
}

a{
    text-decoration: none;
    font-size: 1.3em;
    color: #A9A9A9;
}

/* Main Claim */

#main-claim-container{
    height: 550px;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px 0;
    position: relative;
    border-radius: 15px;
}

#main-claim{
    height: 550px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#text-main-claim{
    width: 500px;
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: white;
}

#main-claim h2{
    font-size: 1,2em;
}

/* Web-site main contents */

.container{
    background-color: blue;
}

.clearfix::after{
    content:'';
    clear: both;
    display: table;
}

header{
    margin: 25px 0;
    font-size: 1.1em;
    font-weight: bold;
}

#subtitle{
    color: #A9A9A9;
    margin-top: 5px;
    font-weight: normal;
}

main{
    background-color: lightblue;
    width: calc(50% - 20px);
    float: left;
}

.side-box-left, .side-box-right{
    width: 25%;
    background-color: lightblue;
    float: left;
}

.img-left-cont, .img-right-cont, .img-main-cont{
    height: 250px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-left-cont{
    background-image: url(img/img-1.jpg);
}
 .img-main-cont{
     background-image: url(img/banner-2.jpg);  
 }

 .img-right-cont{
     background-image: url(img/img-3.jpg);
 }

/* Footer */
footer{
    height: 80px;
    background-color: purple;
    margin: 20px 0;
    border-radius: 10px;
}